/* KEYBOARD STYLING FROM CODEPEN */
* {
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  background: black;
  background-image: url(../images/leo-wieling-739185-unsplash.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

set {
  vertical-align: bottom;
  height: 18.875em;
  width: 36em; /* 1 octave --> width:36em; 2 octaves --> width: 64em; */
  margin: 5em auto;
  padding: 3em 0 0 3em;
  position: relative;
  border: 1px solid #160801;
  border-radius: 1em;
  /* The below link to a background texture for the outside of the keyboard is broken */
  /* background:-webkit-gradient(linear, right bottom, left top, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))), url('https://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png'); */
  /* The below doesn't work either */
  background: -webkit-gradient(
      linear,
      right bottom,
      left top,
      color-stop(0%, rgba(0, 0, 0, 0.3)),
      color-stop(100%, rgba(0, 0, 0, 0))
    ),
    url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjJrqWgs77dAhUxmeAKHa4xD0YQjRx6BAgBEAU&url=http%3A%2F%2Frowhousecafe.com%2Fwood-grain-web-png%2F&psig=AOvVaw0oX2ph6-Zq-P1Mg3YayQjd&ust=1537148693595677");
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset,
    0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
  text-align: center;
  font-size: 10px;
  line-height: 144px;
}

ul .white {
  height: 16em;
  width: 4em;
  z-index: 1;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(top, #eee 0%, #fff 100%);
  background-color: #fff;
  /* uncomment below if we want the white key labels to be lower */
  /* line-height: 200px; */

}

ul .white:active {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(top, #fff 0%, #e9e9e9 100%);
}

.black {
  color: white;
  height: 9.25em;
  width: 2em;
  margin: 0 0 0 -1em;
  z-index: 2;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222 0%, #555 100%);
}

.black:active {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(left, #444 0%, #222 100%);
}

.c,
.d,
.e,
.g,
.a,
.b {
  margin: 0 0 0 -1em;
}

/* .a,.g,.f,.d,.c { margin:0 0 0 -1em;  } */

ul li:first-child {
  border-radius: 5px 0 5px 5px;
}
ul li:last-child {
  border-radius: 0 5px 5px 5px;
}
ul li:nth-child(13),
:nth-child(25) {
  margin: 0 0 0 0;
}

/* Other styles */

a {
  color: #fff !important;
}

.jumbotron {
  padding-top: .8em;
  color: #fff;
  background: linear-gradient(45deg, rgb(15, 15, 15) 0%, #555 100%);
}



.display-4 {
  font-family: 'Permanent Marker', cursive;
  font-size: 5em;
}

.cursive {
  font-family: 'Cedarville Cursive', cursive;
}

.fas {
  color: #fff;
  font-size: 16px;
  }

@keyframes artist-div-magic {
  0% {opacity: 99%;}
  10% {opacity: .95;}
  20% {opacity: .90;}
  30% {opacity: .85;}
  40% {opacity: .80;}
  65% {opacity: .82;}
 70% {opacity: .85;}
 80% {opacity: .90;}
 90% {opacity: .95;}
  100% {opacity: .99;}
}

#bit-div {
  position: static;
  float: left;
  border: 1px solid #bbb;
  border-radius: 2px;
  margin-top: 16px;
  padding: 2px;
  border-left: 1px solid rgb(82, 82, 82);
  border-bottom: 1px solid rgb(67, 67, 67);
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-anmiation-name: artist-div-magic;
  animation-name: artist-div-magic;
  animation-iteration-count: infinite;
}



#artist-input-label {
  color: #808080;
}

#artist-input {
  border: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #808080;
  font-family: arial;
}

#select-artist {
  margin-top: 10px;
  background: #555555;
  color: #fff;
  text-emphasis: bold;
  border-radius: 6px;
}

#footer {
  clear: both;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 1.25em;
}

.button {
  margin: 5px;
}

/* added a little button:active goodness for those synth buttons */
.button:active {
  background-color: rgb(113, 102, 102);
  color: whitesmoke;
}

/* the keyPress animation */

@keyframes keyPress {
  0% {
    opacity: 1;
    transform: scale(0.99);
  }
  10% {
      opacity: 0.95;
      transform: scale(0.94)
    }
  25% {
    transform: scale(0.90);
    opacity: 0.85;
  }
  100% {
    transform: scale(0.90);
    opacity: 0.85;
  }
}

/* Webkit syntax added for compatability */
/* li:active is for mouse clicks */

li:active {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: keyPress;
  animation-name: keyPress;
}

/* on key down */

.keypress {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: keyPress;
  animation-name: keyPress;
}

/*on key up */

.keyunpress {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: keyPress;
  animation-name: keyPress;
  animation-direction: reverse;
}

@keyframes logo-magic {
  0% {color: white;}
  10% {color: yellow;}
  15% {color: red;}
  25% {color: fuchsia;}
  35% {color: green;}
  50% {color: blue;}
  60% {color: lightblue;}
  75% {color: pink;}
  85% {color: orange;}
  95% {color: yellow;}
  100% {color: white;}
}

#logo {
  
  -webkit-animation-duration: 48s;
  animation-duration: 48s;
  -webkit-anmiation-name: logo-magic;
  animation-name: logo-magic;
  animation-iteration-count: infinite;
}