.key-active {
  background-color: rgba(10, 112, 255, 0.806);
  height: 105%;
  width: 105%;
}

/* KEYBOARD STYLING FROM CODEPEN */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
}

set {
  vertical-align: bottom;
  height: 18.875em;
  width: 36em; /* 1 octave --> width:36em; 2 octaves --> width: 64em; */
  margin: 5em auto;
  padding: 3em 0 0 3em;
  position: relative;
  border: 1px solid #160801;
  border-radius: 1em;
  /* The below link to a background texture for the outside of the keyboard is broken */
  /* background:-webkit-gradient(linear, right bottom, left top, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))), url('https://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png'); */
  /* The below doesn't work either */
  background: -webkit-gradient(
      linear,
      right bottom,
      left top,
      color-stop(0%, rgba(0, 0, 0, 0.3)),
      color-stop(100%, rgba(0, 0, 0, 0))
    ),
    url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjJrqWgs77dAhUxmeAKHa4xD0YQjRx6BAgBEAU&url=http%3A%2F%2Frowhousecafe.com%2Fwood-grain-web-png%2F&psig=AOvVaw0oX2ph6-Zq-P1Mg3YayQjd&ust=1537148693595677");
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset,
    0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
}

ul .white {
  height: 16em;
  width: 4em;
  z-index: 1;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(top, #eee 0%, #fff 100%);
  background-color: #fff;
}

ul .white:active {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(top, #fff 0%, #e9e9e9 100%);
}

.black {
  height: 9.25em;
  width: 2em;
  margin: 0 0 0 -1em;
  z-index: 2;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222 0%, #555 100%);
}

.black:active {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(left, #444 0%, #222 100%);
}

.c,
.d,
.e,
.g,
.a,
.b {
  margin: 0 0 0 -1em;
}

/* .a,.g,.f,.d,.c { margin:0 0 0 -1em;  } */

ul li:first-child {
  border-radius: 5px 0 5px 5px;
}
ul li:last-child {
  border-radius: 0 5px 5px 5px;
}
ul li:nth-child(13),
:nth-child(25) {
  margin: 0 0 0 0;
}

/* Other styles */

a {
  color: #808080 !important;
}

.jumbotron {
  padding-top: .8em;
  color: #fff;
  background: linear-gradient(45deg, #222 0%, #555 100%);
}

.display-4 {
  font-family: 'Permanent Marker', cursive;
  font-size: 5em;
}

.cursive {
  font-family: 'Cedarville Cursive', cursive;
}

fas {
  color: #fff;
  font-size: 8px !important;
  }

#footer {
  clear: both;
  text-align: center;
  padding: 20px;
}

.marker {
  font-family: 'Permanent Marker', cursive;
}
